 @charset "UTF-8";
    * {
        margin: 0px;
        padding: 0px;
        font: normal normal 13px Arial, Helvetica , sans-serif;
    }
    /*body {
        background: rgb(255, 255, 255) url(https://play-lh.googleusercontent.com/N-OcxWgmXTUxKe60lgxsDUAFkt99750ugPBwvVyNEkEb4oIM-NOhNf3zoiNzJ5tGEw=w240-h480-rw) no-repeat center center fixed;
        background-size: auto;
    }*/
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    main{
        max-width: 700px;
        min-width: 290px;
        height: 50vh;
        display: block;
    }
    section{
        justify-items: center;
        display: block;
    }
    #flex, #flex_bottom{
        display: flex;
        justify-content: space-between;
        max-width: 300px;
    }
    .command-trigger{
        height: 30px;
        width: 140px;
        margin: 10px;
        border-radius: 2px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.500);
    }
    h1{
        text-align: center;
        font: normal bolder 25px Arial, Helvetica , sans-serif;
        margin: 0px 0px 10px 0px;
    }
    h2{
        font: normal bolder 17px Arial, Helvetica , sans-serif;
        padding: 0px 0px 20px 0px;
        text-decoration: underline;
    }
    .button{
        height:35px;
        width: 80px;
        margin: 0px 0px 10px 0px;
        border-radius: 4px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.500);
    }
    .button:hover, .command-trigger:hover{
        font-weight: bold;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.500);
        background-color: rgba(0, 0, 0, 0.200);
        cursor: pointer;
    }
    .button-click{
        height:35px;
        width: 80px;
        margin: 0px 0px 10px 5px;
        background-color: #FE9500;
        font-weight: bold;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.500);
        font-weight: bold;
    }    
    #command{
        display: block;
        align-items: center;
        margin: 0px 0px 0px 45px;
    }
    label{
        font-weight: bold;
    }
    .command{
        height: 30px;
        width: 150px;
        text-indent: 10px;
        font-weight: bold;
        margin: 0px 0px 70px 0px;
        border-radius: 5px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.500);
    }
    .command:hover {
        background-color: rgba(0, 0, 0, 0.05);
        box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.300);
    }
    #table{
        display: flex;
        padding: 30px 1px 30px 1px;
    }
    table {  
        border-collapse: collapse; 
        overflow-x: auto;
    }
    thead { 
        position: sticky; 
        top: -1px;
        color: white;
    }
    thead > tr > th {
        position: sticky;
        top: -1px;
        background-color: gray;
    }
    tbody > tr:nth-child(2n) {
        background-color: lightgray;
    }
    th, td { 
        border: 3px solid #acacac; 
        padding: 4px; 
        text-align: center; 
    }
    textarea{
        padding: 5px;
        height: 19px;
        width: 135px;
    }
/*@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font: normal 300 1em "Bebas Neue", sans-serif;
}

body{
    background: white url(img/sky-clouds-light-sparkles-v4e69j9mofbcpi1o.gif) center center no-repeat fixed;
    background-size: cover;
    color: white;
}
header{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    font-size: 20px;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 400px;
    background-color: rgba(0, 0, 255, 0.74);
    outline: 5px solid rgb(0, 19, 82);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgb(0, 1, 59);
    text-shadow: 0px 0px 20px rgb(220, 217, 255);
}
section > h1{
    font-size: 3em;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
fieldset{
    border-radius: 10px;
    max-width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
input{
    width: 300px;
    border-radius: 5px;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
#me{
    color: black;
    margin-top: 5px;
    padding: 5px;
    background-color: rgba(237, 237, 255, 0.74);
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(0, 0, 128);
}
#ano{
    display: inline;
    width: 60px;
    margin-top: 5px;
}
#cal{
    margin-top: 5px;
    margin-left: 10px;
    display: inline;
    width: 65px;
    padding: 3px;
    color: rgb(0, 0, 0);
    background-color: rgb(195, 0, 255);
    box-shadow: 0px 0px 10px black;
}
#cal:hover{
    width: 70px;
    font-size: 17px;
    cursor: pointer;
    color: white;
    background-color: rgb(130, 0, 170);
}
aside#con{
    display: inline-flex;
    align-items: right;
    justify-content: center;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 5px;
    width: 60px;
}
input#star{
    margin: auto;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    color: white;
    background-color: rgb(0, 0, 119);
    box-shadow: 0px 0px 10px black;
}
input#star:hover{
    width: 105px;
    height: 40px;
    font-size: 25px;
    box-shadow: 0px 0px 20px black;
    cursor: pointer;
    background-color: rgb(0, 0, 70);
}
fieldset#et {
    font-size: 1.5em;
    border-radius: 5px;
    text-align: center;
}
#vf{
    color: rgb(255, 217, 217);
}
#ti{
    color: rgb(255, 165, 0);
    text-shadow: 0px 0px 20px rgb(255, 165, 0);
}
#tj{
    color: rgb(255, 255, 0);
    text-shadow: 0px 0px 20px rgb(255, 255, 0);
}*/